# Discord
DISCORD_TOKEN=tu_token_aqui

# IA
ANTHROPIC_API_KEY=tu_key_aqui

# APIs Fun
JOKEAPI_URL=https://v2.jokeapi.dev/joke
CHUCKNORRIS_URL=https://api.chucknorris.io/jokes/random

# APIs Juegos
OPENTDB_URL=https://opentdb.com/api.php

# APIs Recomendaciones (próximamente)
LASTFM_API_KEY=
RAWG_API_KEY=
TMDB_API_KEY=
UNSPLASH_API_KEY=